# Add these lines to your .gitignore file
*.sam
*.bam
*.fastq.gz
reference_genome/Drosophila_simulans_ref/data/GCF_016746395.2/*.fna
reference_genome/Drosophila_simulans_ref/data/GCF_016746395.2/*.gff
# Large files excluded from Git
*.sam
*.bam
*.fastq.gz
reference_genome/Drosophila_simulans_ref/data/GCF_016746395.2/*.fna
reference_genome/Drosophila_simulans_ref/data/GCF_016746395.2/*.gff
